* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root {
    --DarkBlue: hsl(209, 23%, 22%);
    --VeryDarkBlueBackground: hsl(207, 26%, 17%);
    --VeryDarkBlueText: hsl(200, 15%, 8%);
    --DarkGray: hsl(0, 0%, 52%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

body {
    background-color: var(--VeryLightGray);
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar {
    display: none;
}

.dark {
    background-color: var(--VeryDarkBlueBackground);
}

.top-bar {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
    background-color: var(--White);
    position: sticky;
    top: 0;
    box-shadow: 0 3px 5px #bebebe;
    z-index: 5;
}

.top-bar>h1 {
    font-size: 24px;
    font-weight: normal;
}



.searchAndFilter {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.search {
    width: 100%;
    max-width: 450px;
    padding: 25px 10px;
    background-color: var(--White);
    border-radius: 5px;
    box-shadow: 0 3px 3px #bebebe;
    display: flex;
    align-items: center;

}

.search>i {
    color: var(--DarkGray);
    margin-right: 15px;
    font-size: 18px;
}

.search>input {
    border: none;
    outline: none;
    font-size: 18px;
    width: 100%;
}

.filter {
    width: 100%;
    max-width: 250px;
    padding: 25px 20px;
}

.dropdown-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: var(--White);
    padding: 20px 15px;
    box-shadow: 0 3px 3px #bebebe;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown {
    width: 210px;
    background-color: var(--White);
    padding: 20px 15px;
    box-shadow: 0 3px 3px #bebebe;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 8px;
    position: absolute;
    display: none;
}

.dropdown>p {
    margin: 2px 0;
    cursor: pointer;
}

.countries {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.block {
    display: block !important
}

.country {
    width: 250px;
    border-radius: 10px;
    background-color: var(--White);
    box-shadow: 0 3px 3px #bebebe;
    cursor: pointer;
}

.flag {
    width: 100%;
    height: 150px;
    border-radius: 10px;
}

.flag>img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}

.info {
    padding: 30px 20px;

}

.info>h3 {
    font-size: 20px;
    padding: 10px 0;
}

.info>p {
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
}

.info>p>span {
    color: var(--DarkGray);
}

.details {
    display: none;
}

.back-button {
    display: flex;
    align-items: center;
    width: max-content;
    font-size: 20px;
    margin: 20px;
    padding: 12px 24px;
    background-color: var(--White);
    box-shadow: 0 3px 3px #bebebe;
    border-radius: 5px;
}

.back-button>p {
    margin-left: 10px;
}

.flagAndDetails {
    display: flex;
    justify-content: space-around;
    width: 90%;
    min-width: 300px;
    margin: 30px auto;
    flex-direction: column;
}

.detail-flag {
    width: 100%;
    margin: 20px 0px;
}

.country-details>h2 {
    margin: 10px 0;
}

.first-details,
.second-details {
    margin: 10px 0;
}

.first-details>p,
.second-details>p {
    font-size: 18px;
    font-weight: bolder;
    margin: 10px 0;
}

.first-details>p>span,
.second-details>p>span {
    font-weight: lighter;
    text-transform: capitalize;
}


@media (min-width:768px) {
    .searchAndFilter {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .search {
        margin-bottom: 0;
    }

    .countries {
        flex-direction: row;

    }

    .flagAndDetails {
        flex-direction: row;
    }

    .country-details {
        width: 100vw;
        display: grid;
        gap: 20px;
        grid-template-areas:
            'h2 h2'
            'first-details second-details'
            'border-countries border-countries';
    }

    .country-details>h2 {
        grid-area: h2;
    }

    .country-details>.first-details {
        grid-area: first-details;
    }

    .country-details>.second-details {
        grid-area: second-details;
    }

    .border-countries {
        grid-area: border-countries;
    }
}